@import '@/shared/styles/mixins.scss';

.error-popup {
  position: absolute;
  z-index: 100;
  top: 60px;
  right: 0;
  left: 0;
  display: none;
  width: fit-content;
  align-items: center;
  max-width: 396px;
  padding: 22px 36px 22px 24px;
  border: 0.33px solid rgba(153, 162, 173, 0.3);
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--color-background-white);
  box-shadow: var(--shadow-medium);
  gap: 8px;
}

.error-popup-opened {
  display: flex;
}

.popup-img {
  @include size(28px, 28px);
}

.popup-text {
  font: var(--font-h4-alert);
}

