.card {
  width: 324px;
  height: 371px;
  background-color: var(--color-background-white);
  border-radius: 20px;
  padding: 16px;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2D2E;
}

.duration {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  text-align: right;
  color: #99A2AD;
}

.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #2C2D2E;
}

.tags {

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tag {
  display: block;
  background-color: var(--color-background-white);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  border: 0.2px solid #4C239D;
  color: var(--color-accent-secondary);
  padding: 4px 6px;
  border-radius: 20px;
}
