.login-page {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/gradient-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-title {
  box-sizing: border-box;
  padding: 20px 16px 20px 0;
  margin: 0 0 10px;
  color: var(--color-black);
  font: var(--font-h1-form);
}

.login-form {
  width: 472px;
  box-sizing: border-box;
  padding: 20px 56px;
  border-radius: 20px;
  background-color: var(--color-background-white);
  box-shadow: var(--shadow-medium);
}

.login-form-list {
  width: 100%;
  padding: 0;
  margin: 0 0 34px;
  list-style-type: none;
}

.login-form-list-item {
  margin-bottom: 25px;
}

.login-form-list-item:last-of-type {
  margin: 0;
}

.form-link {
  display: block;
  width: fit-content;
  margin: 22px auto 16px;
  color: var(--color-accent-purple);
  font: var(--font-button);
  text-align: center;
  text-decoration: none;
}

.form-link:hover {
  color: var(--color-accent-violet);

}

.form-link:active {
  color: var(--color-accent-secondary);
}
