.container {
  position: relative;
  padding: 40px 132px 46px 52px;
  background-color: var(--color-main-background);
}

.test {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 20px 50px rgb(88 81 94 / 10%);
  gap: 16px;
}

.title {
  margin: 0;
  font: var(--font-h1);
}

.subtitle {
  margin: 20px 0 0;
  font: var(--font-h2);
}

.subtitle:nth-child(2) {
  margin: 40px 0 0;
}

.question {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding: 0;
  border: none;
  margin: 0;
  background: white;
  background: none;
  gap: 12px;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip-path: inset(0 0 0 0);
}

.visible-checkbox {
  position: relative;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 50%;
}

.checkbox + .visible-checkbox::after {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: var(--color-accent-purple);
  content: "";
  opacity: 0;
  transform: scale(0.5);
  transition: all 107ms ease-out;
}

.checkbox:checked + .visible-checkbox {
  border-color: var(--color-accent-purple);
}

.checkbox:checked + .visible-checkbox::after {
  opacity: 1;
  transform: scale(1.5);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 52px;
  gap: 28px;
}

.button {
  min-width: 200px;
  height: 44px;
  padding: 12px 16px;
  border: none;
  border-radius: 16px;
  margin: 20px 0 12px;
  background-color: var(--color-accent-purple);
  color: var(--color-background-white);
  cursor: pointer;
  font-size: var(--font-size-m);
  font-weight: 500;
  line-height: var(--font-line-m);
}

.button:hover {
  cursor: pointer;
}

.button-back {
  border: none;
  margin-right: 10px;
  background: none;
  color: var(--color-accent-purple);
  font: var(--font-button);
}

.button-back:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.close-btn {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  background-color: var(--color-background-white);
  background-image: url('@/assets/closeBtn.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  scale: 1.5;
}
