.register-page {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/gradient-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-form {
  display: flex;
  width: 816px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 28px;
  border-radius: 20px;
  background-color: var(--color-background-white);
  box-shadow: var(--shadow-medium);
}

.register-title {
  box-sizing: border-box;
  margin: 20px auto 30px;
  color: var(--color-black);
  font: var(--font-h2);
}

.register-form-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.register-form-list-item {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  column-gap: 16px;
}

.register-form-list-item:last-of-type {
  margin: 0;
}

.register-password-info {
  align-self: flex-start;
  margin: 5px 0 0;
  color: var(--color-black);
  font: var(--font-text);
}

.register-agreement {
  max-width: 740px;
  align-self: flex-start;
  margin: 25px 0 24px;
  color: var(--color-text-primary);
  font: var(--font-body);
}
