.main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 40px 52px;
  margin: 0 auto;
  background-color: var(--color-main-background);
}

.text {
  font-size: 50px;
}
