.form {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: var(--color-background-white);
  box-shadow: 0 15px 20px 0 rgb(88 81 94 / 10%);
}

.form-title {
  box-sizing: border-box;
  padding: 20px 16px;
  margin: 0;
  color: var(--color-black);
  font-size: var(--font-size-xl);
  font-weight: 600;
  line-height: var(--font-line-xl);
}
