@import '@/shared/styles/mixins.scss';

.refresh-password-page {
  @include flex-column;
  align-items: center;
  @include background-no-repeat-center-cover;
  min-height: 100vh;
  background-image: url('../../assets/gradient-background.jpg');
}

.logo-container {
  margin: 60px 0 85px;
}
