.photo-settings-list {
  position: absolute;
  bottom: -89px;
  left: -62px;
  width: 227px;
  height: 80px;
  padding: 8px 0;
  border: 0.5px solid var(--color-button-secondary);
  border-radius: 12px;
  margin: 0;
  background-color: var(--color-background-white);
  box-shadow: var(--shadow-medium);
  list-style-type: none;
  opacity: 0;
  transition: opacity .3s;
}

.photo-settings-list-opened {
  opacity: 1;
}

.photo-settings-list-item {
  display: flex;
  height: fit-content;
  height: 50%;
  align-items: center;
  padding-left: 8px;
  margin: 0;
  cursor: pointer;
  gap: 8px;
}

.photo-settings-list-item:hover {
  background-color: var(--color-background);
}

.photo-settings-icon {
  width: 20px;
  height: 20px;
}

.photo-settings-text {
  margin: 0;
  font: var(--font-search-input);
}
