.container {
  padding-right: 80px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  height: 100%;
  font-size: 50px;
  display: inline-block;
}
