@import '@/shared/styles/mixins.scss';

.profile {
  position: relative;
  padding: 50px 0 0 52px;
  background-color: var(--color-background);
  &-title {
    font: var(--font-h1);
    margin: 0 0 32px 0;
    color: var(--color-black);
  }
}

.inner-container {
  display: flex;
  gap: 28px;
}

.contacts-section {
  width: 324px;
  @include flex-column;
  gap: 16px;
}

.analytics-section {
  width: 676px;
}

.statics {
  @include flex-column;
  &-title {
    margin: 32px 0 0;
    font: var(--font-h2);
    color: var(--color-black);
  }
}

