.button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgb(250 250 250 / 0%);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button-opened {
  background-image: url('./passwordOpened.svg');
}

.button-closed {
  background-image: url('./passwordClosed.svg');
}
