.employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sort-container {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr;
  width: 100%;
  /* align-items: center;
  justify-content: space-between; */
  margin: 24px 0 8px;
  padding: 0 34px 0 20px;
}

.sort-button {
  /* width: 33%; */
  padding: 0;
  /* margin-left: 20px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background-color: inherit;
  font: var(--font-h3);
  gap: 8px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}
.sort-button:nth-child(3) {
  justify-content: flex-end;
  /* margin-right: 20px; */
}
.sort-button:hover {
  opacity: 0.6;
}

.employee {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 28px 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: white;
  /* grid-template-columns: repeat(3, 32%); */
  grid-template-columns: 1.25fr 1fr 1fr;

  gap: 2%;
}

.user {
  display: flex;
  align-items: center;
}

.textUser {
  width: 100%;
  font: var(--font-body);
  align-self: center;
  overflow: hidden;
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}
.noPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  margin-right: 12px;
  background-color: var(--color-background-accent);
}

.textNoAvatar {
  color: var(--color-accent-purple);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.textName {
  width: 100%;
  font: var(--font-body);
  align-self: center;
  overflow: hidden;
  text-align: left;
}

.textMentalState {
  width: 100%;
  font: var(--font-body);
  align-self: center;
  overflow: hidden;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.addButton {
  margin-top: 15px;
  display: flex;
  border: 0;
  color: var(--color-accent-purple);
  background-color: var(--color-main-background);
  font: var(--font-button);
  outline: none;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.addButton:hover {
  opacity: 0.6;
}
