.container {
  /* test  */
}

.mood-tracker {
  margin: 32px 0 0;
}

.mood-tracker-heading {
  margin: 0;
  color: var(--color-black);
  font: var(--font-h2);
}

.mood-buttons {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
}
