.container {
  display: flex;
  min-width: 676px;
  height: 148px;
  padding: 16px 16px 16px 20px;
  border-radius: 20px;
  background-color: var(--color-burnout-banner-background);
  gap: 20px;
}

.text-container {
  display: flex;
  min-width: 500px;
  flex-direction: column;
  gap: 20px;
}

.text-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 8px;
}

.text-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-heading {
  margin: 0;
  font: var(--font-h1);
}

.text-description {
  max-width: 290px;
  margin: 0;
  font: var(--font-body);
}

.date-till {
  font: var(--font-body);
}

.image-container {
  width: 116px;
  height: 116px;
  border-radius: 12px;
}

.button {
  display: flex;
  width: 161px;
  height: 36px;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border: 0;
  border-radius: 16px;
  background: var(--color-accent-purple);
  color: var(--color-white);
  font: var(--font-button);
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

/* .text {
  display: inline-block;
  height: 100%;
  font-size: 50px;
} */
