@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin list-initial-style {
  padding: 0;
  list-style-type: none;
}

@mixin reset {
  padding: 0;
  margin: 0;
}

@mixin background-no-repeat-center-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
