/* Layout */
.page-container {
  display: grid;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  grid-template-columns: 228px 1fr;
}

@media(width <= 1120px) {
  .page-container {
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
  }
}
