.container {
  position: relative;
  max-width: 676px;
  height: 328px;
  padding: 16px 20px;
  border-radius: 20px;
  margin-top: 32px;
  background-color: white;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  align-items: center;
}

.heading {
  margin: 0;
  font: var(--font-h3);
}

.x-axis {
  position: relative;
  top: -35px;
  left: 35px;
  display: flex;
  width: 95%;
  height: 24px;
  justify-content: space-around;
}

.x-axis-text {
  padding: 0;
  margin: 0;
  color: var(--color-accent-gray);

  /* width: 100%; */
  font: var(--font-caption);
  text-align: center;
}

.stacked-smiles {
  position: absolute;
  top: 72px;
  left: 23px;
  display: flex;
  width: 24px;
  height: 194px;
  flex-direction: column;
  justify-content: space-between;
}

.month {
  border: none;
  background-color: white;
  color: var(--color-accent-purple);
  font: var(--font-body);
  scale: 1;
  vertical-align: center;
}

.month:hover {
  cursor: pointer;
  scale: 1.03
}

.month-visible {
  font: var(--font-h3);
}
