.container {
  background-color: var(--color-main-background);
}

.tests {
  /* display: flex; */
  padding: 40px 132px 46px 52px;
  gap: 28px;
}

.title {
  margin: 0 0 20px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.banerblock {
  display: flex;
  gap: 28px;
}

.records {
  margin: 60px 0 0;
}

.subtitle {
margin: 20px 0 34px;
font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 24px;
}
