@import '@/shared/styles/mixins.scss';

.title {
  margin: 0 0 32px;
  color: var(--color-black);
  font: var(--font-h2);
}

.form {
  width: 440px;
  padding: 60px 40px 30px;
  border-radius: 16px;
  background-color: var(--color-background-white);
  box-shadow: var(--shadow-medium);
}

.list {
  @include list-initial-style;
  margin: 0 0 24px;
}

.list-item {
  margin-bottom: 25px;
}

.list-item:last-of-type {
  margin: 0;
}
