.header {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 68px;
  align-items: center;
  justify-content: flex-start;
  padding-right: 132px;
  background-color: var(--color-white);
}

.input {
  width: 324px;
  height: 36px;
  padding: 8px 12px 8px 36px;
  border: 0;
  border-radius: 12px;
  margin-left: 50px;
  background-color: var(--color-background);
  background-image: url('@/assets/search_icon.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  color: var(--color-icon-secondary);
  font: var(--font-search-input);

  /* background-color: var(--color-accent-secondary); */
  outline: 0;
}

.input::placeholder {
  color: var(--color-icon-secondary);
}

.search-icon {
  position: absolute;
  top: 26px;
  left: 270px;
}

.profile-and-notify {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 24px;
}

.notify {
  width: 33px;
  height: 30px;
  background-image: url("../../assets/notify_icon.svg");
}

.profile-btn {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background-image: url("../../assets/sample_profile_icon.png");
  cursor: pointer;
}
