.header {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 68px;
  align-items: center;
  justify-content: flex-start;
  padding-right: 132px;
  background-color: var(--color-white);
}

.input {
  width: 324px;
  height: 36px;
  padding: 8px 12px 8px 36px;
  border: 0;
  border-radius: 12px;
  margin-left: 50px;
  background-color: var(--color-background);
  background-image: url('@/assets/search_icon.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  color: var(--color-icon-secondary);
  font: var(--font-search-input);

  /* background-color: var(--color-accent-secondary); */
  outline: 0;
}

.input::placeholder {
  color: var(--color-icon-secondary);
}

.search-icon {
  position: absolute;
  top: 26px;
  left: 270px;
}

.profile-and-notify {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 24px;
}

.notify {
  position: relative;
  width: 33px;
  height: 30px;
  background-image: url("../../assets/notify_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.notify:hover {
  cursor: pointer;
}

.notification-number {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: auto;
  background-color: var(--color-accent-purple);
  color: white;
  font: var(--font-caption);
}

.profile-btn {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.profile-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.no-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-background-accent);
  color: var(--color-accent-purple);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
