.aside {
  display: flex;
  width: 20%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 24px 0;
  background-color: white;
  gap: 20px;
}

.commonLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  line-height: 20px;
}

.inactiveLink {
  color: var(--colorBlack);
  text-decoration: none;
}

.activeLink {
  color: var(--colorAccentSecondary);
  text-decoration: none;
}
