.account {
  display: flex;
  padding: 40px 0 0 52px;
  background-color: var(--color-background);
  gap: 28px;
}

.account-info-container {
  width: 500px;
  height: 198px;
  padding: 24px 20px;
  border-radius: 20px;
  background-color: var(--color-background-white);
}

.title {
  margin: 0 0 16px;
  font: var(--font-h1);
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.photo {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.no-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-accent);
  color: var(--color-accent-purple);
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.text-info-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.name-info {
  margin-bottom: 4px;
  font: var(--font-button);
}

.job-info {
  color: var(--color-black);
  font: var(--font-body);
}

.title-about {
  margin: 0 0 12px;
  font: var(--font-h2);
}

.textarea {
  width: 460px;
  height: 114px;
  padding: 12px;
  border: 0.5px solid rgb(0 0 0 /12%);
  border-radius: 12px;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font: var(--font-search-input);
  outline: none;
  resize: none;
  text-align: start;
}
