.eventsHeader {
  display: flex;
  margin-bottom: 32px;
  /* align-items: baseline; */
}
.eventsHeader__heading {
  margin: 0;
  padding: 0;
  font: var(--font-h1);
  color: var(--color-black);
  margin-right: 20px;
}
.eventsHeader__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 4px;
  border: none;
  background-color: transparent;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.5s linear;
}
.eventsHeader__button:hover {
  opacity: 0.7;
}
.eventsHeader__button:disabled {
  cursor: auto;
}
.eventsHeader__month  {
  margin: 0;
  padding: 0;
  font: var(--font-h1);
  color: var(--color-accent-secondary);
}
