.point {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 20px;
  margin-bottom: 12px;
  background: #fff;
}
.leftBlock {
  display:flex;
  flex-direction: column;
}
.rightBlock {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.count {
  margin: 0;
  margin-bottom: 4px;
  color: var(--color-black);
  font-size: 34px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 34px;
}
.month {
  margin: 0;
  font: var(--font-body);
  color: var(--color-black);
}
.typeActivity {
  margin: 0;
  font: var(--font-body);
  color: var(--color-accent-purple)
}
.time {
  margin: 0;
  color: var(--color-icon-secondary);
  font: var(--font-caption);
}
/* .point-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.text {
  margin: 0;
  color: var(--color-black);
  font: var(--font-body);
} */


