@import url("modern-normalize/modern-normalize.css");
@import url("assets/fonts/Roboto/roboto.css");
@import url("assets/fonts/Montserrat/Montserrat.css");

:root {
  font-family: Roboto, Montserrat, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;

  /* Colors */
  --color-text-primary: #000;
  --color-background: #ebf1f4;
  --color-background-white: #fff;
  --color-white: #fff;
  --color-background-secondary: #ebebeb;
  --color-background-accent: #F7EBFF;
  --color-icon-secondary: #99a2ad;
  --color-button-secondary: #ebebeb;
  --color-accent-secondary: #4c239d;
  --color-accent-purple: #8a32e0;
  --color-accent-blue: #325ee0;
  --color-accent-violet: #a632e0;
  --color-accent-gray: #99a2ad;
  --color-black: #2c2d2e;
  --color-error: #e64646;
  --color-main-background: #EBF1F4;
  --color-burnout-banner-background: #d5d0ef;
  --color-background-accent: #F7EBFF;

  /* Shadows */
  --shadow-medium: 0 15px 20px 0 rgb(88 81 94 / 10%);

  /* Fonts */
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-line-xs: 14px;
  --font-line-s: 18px;
  --font-line-m: 20px;
  --font-line-l: 24px;
  --font-line-xl: 28px;
  --font-h1: 600 24px/28px "Montserrat", sans-serif;
  --font-h1-form: 600 24px/28px "Roboto", sans-serif;
  --font-h2: 600 20px/24px "Montserrat", sans-serif;
  --font-h3: 600 16px/18px "Montserrat", sans-serif;
  --font-text: 400 13px/16px "Roboto", sans-serif;
  --font-caption: 400 12px/14px "Roboto", sans-serif;
  --font-body: 400 14px/18px "Roboto", sans-serif;
  --font-button: 500 16px/20px "Roboto", sans-serif;
  --font-search-input: 400 16px/20px "Roboto", sans-serif;

}

body {
  height: 100%;
}
