@import url("modern-normalize/modern-normalize.css");
@import url("assets/fonts/Roboto/roboto.css");
@import url("assets/fonts/Monserat/Montserrat.css");

:root {
  font-family: Roboto, Montserrat, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;

  /* Colors */
  --color-text-primary: #000;
  --color-background: #ebf1f4;
  --color-background-white: #fff;
  --color-background-secondary: #ebebeb;
  --color-icon-secondary: #99a2ad;
  --color-button-secondary: #ebebeb;
  --color-accent-secondary: #4c239d;
  --color-accent-purple: #8a32e0;
  --color-accent-blue: #325ee0;
  --color-accent-violet: #a632e0;
  --color-accent-gray: #99a2ad;
  --color-black: #2c2d2e;
  --color-error: #e64646;
  --color-main-background: #e5e5e5;

  /* Shadows */
  --shadow-medium: box-shadow: 0 15px 20px 0 rgb(88 81 94 / 10%);;

  /* Fonts */
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-line-xs: 14px;
  --font-line-s: 18px;
  --font-line-m: 20px;
  --font-line-l: 24px;
  --font-line-xl: 28px;
}

body {
  height: 100%;
}
