.results-popup {
  position: relative;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 20px 50px rgb(88 81 94 / 10%);
}

.tests-located {
  position: absolute;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
}

.title {
  margin: 0;
  font: var(--font-h1);
}

.subtitle {
  margin: 20px 0 0;
  font: var(--font-h2);
}

.subtitle:nth-child(2) {
  margin: 40px 0 0;
}

.condition-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.condition-text {
  margin: 0 12px 0 0;
  font: var(--font-h3);
}

.condition-subtitle {
  font: var(--font-h4-alert);
}

.condition-small-subtitle {
  font: var(--font-body);
}

.warning-ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.green {
  background-color: #00B750;
}

.yellow {
  background-color: #FEAB23;
}

.red {
  background-color: #FA3D33;
}

.list {
  padding-left: 20px;
  margin: 0;
}

.close-btn {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  background-color: var(--color-background-white);
  background-image: url('@/assets/closeBtn.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  scale: 1.5;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 52px;
  gap: 28px;
}

.button-back {
  border: none;
  margin-right: 10px;
  background: none;
  color: var(--color-accent-purple);
  font: var(--font-button);
}

.button-back:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.button {
  min-width: 200px;
  height: 44px;
  padding: 12px 16px;
  border: none;
  border-radius: 16px;
  margin: 20px 0 12px;
  background-color: var(--color-accent-purple);
  color: var(--color-background-white);
  cursor: pointer;
  font-size: var(--font-size-m);
  font-weight: 500;
  line-height: var(--font-line-m);
}

.button:hover {
  cursor: pointer;
}

.summary-graph {
  display: grid;
  align-items: center;
  grid-template-columns: 30% 70%;
}
