input,select,textarea {
  margin: 0;
  padding: 12px;
  height: 44px;
  border-radius: 12px;
  border: 0.5px solid var(--color-button-secondary);
  background: var(--color-background);
  caret-color: var(--color-accent-purple);
  font: var(--font-body);
  color: var(--color-icon-secondary);
  margin-bottom: 16px;
  cursor: pointer;
  opacity: 1;
  /* transition: opacity 0.5s linear; */
  transition: border 0.5s linear;
}
input:hover,select:hover,textarea:hover {
  border: 0.5px solid var(--color-icon-secondary);
  /* opacity: 0.7; */
}
input:focus,select:focus,textarea:focus {
  border: none;
  outline: 0.5px solid var(--color-accent-purple);
  color: var(--color-black);
  /* opacity: 0.7; */
}
label input, select {
  width: 100%;
}
option {
  border: none;
}
.formAddEvent__closed {
  display: none;
}
.formAddEvent__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11;
}
.formAddEvent__overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.formAddEvent {
  position: fixed;
  width: 448px;
  padding: 23px;
  border: 0.33px solid var(--color-button-secondary);
  border-radius: 20px;
  background-color: var(--color-white);
}
.formAddEvent__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font: var(--font-h2);
  color: var(--color-text-primary);
}
.formAddEvent__buttonClose {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.formAddEvent__buttonClose:hover {
  opacity: 0.7;
}
.formAddEvent__fieldsDate {
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.formAddEvent__headingField {
  margin: 0;
  padding: 0;
  margin: 16px 0 8px;
  font: var(--font-more);
  color: var(--color-black);
}
.formAddEvent__date {
  width: 48.75%;
  /* width: 35%; */
  /* margin-right: 4px; */
  margin-right: 12px;
}
.formAddEvent__separator {
  align-self: center;
  margin: 0 4px;
}
.formAddEvent__time {
  width: 21.75%;
  display: flex;
  justify-content: center;
  /* width: 25%; */
}
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.4;
  /* background: none; */
}
input[type="time"]::-webkit-calendar-picker-indicator {
  /* opacity: 0.4; */
  background: none;
  display: none;
}

/* input[type="time"] {
  background: var(--color-background);
  min-width: 150px;
}

input[type="time"]:before {
  content: '00:00';
  color: #9d9d9d;
  position: absolute;
  background: var(--color-background);
  width: 70px;
}

input[type="time"]:focus:before {
  width: 0;
  content: '';
} */

.formAddEvent__divider {
  margin: auto 4px;
  vertical-align: middle;
}
/* .formAddEvent__fields {
  display: block;
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: min-content;
  margin-bottom: 16px;
} */
.formAddEvent__fieldTextarea {
  display: block;
  max-height: 125px;
}
.formAddEvent__description {
  width: 100%;
  height: 96px;
  padding: 8px 12px 16px;
  resize: none;
  height: 100px;
  /* margin-bottom: 0; */
}
.formAddEvent__countSymbolTextarea {
  width: 100%;
  position: relative;
  top: -25px;
  left: 85%;
  /* margin-left: auto; */
  /* text-align: end; */
  /* right: -100%; */
  /* margin: 0;
  padding: 0; */
  font: var(--font-caption);
  color: var(--color-icon-secondary);
}
.formAddEvent__countSymbolTextareaRed {
  width: 100%;
  position: relative;
  top: -25px;
  left: 85%;
  font: var(--font-caption);
  color: var(--color-error);
}
.formAddEvent__buttonsForm {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.formAddEvent__buttonExit {
  border: none;
  width: 98px;
  padding: 10px 16px;
  border-radius: 16px;
  background-color: var(--color-button-secondary);
  font: var(--font-button);
  color: var(--color-accent-purple);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.formAddEvent__buttonExit:hover {
  opacity: 0.8;
}
.formAddEvent__buttonSubmit {
  border: none;
  width: 110px;
  padding: 12px 18px;
  border-radius: 16px;
  background-color: var(--color-accent-purple);
  font: var(--font-button);
  color: var(--color-white);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.formAddEvent__buttonSubmit:hover {
  opacity: 0.8;
}

@media(max-width: 500px) {
  .formAddEvent__overlay {
    position: absolute;
    height: 100%;
    align-items: flex-start;
    z-index: 11;
  }
  .formAddEvent {
    position: absolute;
    top: 20px;
    width: 300px;
  }
  .formAddEvent__date {
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px;
  }
  .formAddEvent__time {
    width: 46%;
  }
}
